/***************************************history******************************************/

body {
    background-image: url(../img/background2.png);
    background-attachment: fixed;
    font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

header {
    padding: 11px 0;
    position: relative;
    background-color: #c1272d;
    margin-bottom: 2px;
}

.logo {
    width: 18%;
    position: absolute;
    top: -6px;
    z-index: 100;
    cursor: pointer;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.inst {
    width: 4%;
    margin-left: 2%;
    float: right;
}

.inst:hover {
    -webkit-filter: drop-shadow(0px 0px 7px #fff);
    filter: drop-shadow(0px 0px 7px #fff);
}

.vk {
    width: 4%;
    float: right;
}

.vk:hover {
    -webkit-filter: drop-shadow(0px 0px 7px #fff);
    filter: drop-shadow(0px 0px 7px #fff);
}

.phone {
    width: 46%;
    height: 47px;
    float: right;
}

div a>img {
    width: 100%;
    height: auto;
}


/*****************************
            NAV
*****************************/

.hidden-list li.active {
    background-color: #c1272d;
    border: 5px solid #f7931e;
}

.hidden-list li.active:hover {
    background-color: #c1272d;
    border: 5px solid #f7931e;
}

.active>a {
    cursor: default;
}

nav ul {
    font-size: 0;
    padding: 1px 0;
    width: 100%;
    height: 84px;
    margin: 0 auto;
}

.menu-top>li {
    position: relative;
    background: url(../img/nav.png);
    background-size: cover;
    background-position: center center;
    opacity: 0.71;
}

.menu-top span {
    position: absolute;
    top: 35px;
    right: 0px;
    width: 10px;
    height: 10px;
    background: url(../img/arrowmenudown.gif) no-repeat;
}

.menu-top>li:hover {
    opacity: 1;
}

nav li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 19.8%;
    height: 100%;
}

li:not(:last-child) {
    margin-right: 0.2%;
}

.menu-top a {
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    color: #fff;
    margin-top: 10%;
    text-align: center;
    word-wrap: break-word;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    height: 60px;
}

.hidden-list {
    visibility: hidden;
    opacity: 0;
    transition: visibility ease 0s, opacity ease 1s;
    position: absolute;
    z-index: 110;
    width: 224px;
    text-align: center;
}

.salon:hover+.hidden-list {
    visibility: visible;
    opacity: 1;
}

.hidden-list:hover {
    visibility: visible;
    opacity: 1;
}

.hidden-list ul {
    width: auto;
}

.hidden-list li {
    display: block;
    width: 100%;
    height: auto;
    background-color: #8CC63F;
    border: 5px solid #fff;
    border-radius: 10px;
    margin: 0;
    padding: 5px 0;
}

.hidden-list li:hover {
    background-color: #f7931e;
    border: 5px solid #8CC63F;
    transition: .5s ease;
}

.hidden-list a {
    width: auto;
    height: auto;
    display: block;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin: 0;
}

.services:hover+.hidden-list {
    visibility: visible;
    opacity: 1;
}


/**********************************/

main .container {
    background-color: rgba(255, 255, 255, 0.56);
}

.history-text1 {
    width: 35%;
    float: left;
    margin-top: 40px;
    margin-bottom: 65px;
    margin-left: 35px;
}

div>img {
    width: 100%;
    height: auto;
}

.history-text2 {
    width: 55%;
    float: left;
    margin-left: 15px;
    margin-bottom: 10px;
}

.history-content-text {
    float: left;
    width: 67%;
    padding-left: 5px;
}

.history-content-text p {
    margin: 0;
    font-size: 16px;
    line-height: 19px;
    text-indent: 8px;
    color: #5A5A5A;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.history-text4 {
    width: 45%;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 10px;
}

.history-text3 {
    width: 86%;
    margin: 0 auto;
    clear: both;
    position: relative;
    top: 2px;
    margin-bottom: 10px;
}

.history-img {
    width: 77%;
    margin: 0 auto;
}

.history-img2 {
    width: 25%;
    float: right;
    margin-top: 30px;
    margin-right: 20px;
}

.history-img2 img {
    border-radius: 50%;
}

footer {
    background-color: #c1272d;
    height: 40px;
}


/***************************************masters****************************************/

.masters-box {
    padding: 4% 2% 7%;
    font-size: 0;
}

.master {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-bottom: 6%;
    color: #000;
    font-size: 14px;
}

.master span {
    color: #999;
}

.master:not(:nth-child(3n)) {
    margin-right: 5%;
}

.master h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: bold;
    margin: 0;
}

.master p {
    font-size: 14px;
    margin: 0;
    margin-bottom: 7%;
}

.slick-slider-top .slick-slide {
    margin-right: 2px;
    margin-bottom: 1px;
    filter: brightness(60%);
}

.slick-slider-top .slick-slide:hover {
    filter: brightness(100%);
    transition: .5s;
}

.slick-slider-top div.slick-slide>img {
    height: 430px;
}


/**********************************photogallery*****************************************/

.gallery-text-head {
    padding: 5px;
}

.gallery-text-head {
    width: 50%;
    margin: 20px auto;
    width: 68%;
    margin: 20px auto;
    text-align: center;
    font-size: 18px;
    color: #534741;
}

p.text-color {
    color: #C1272D;
}

.brochure-box {
    position: relative;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 10%;
}

.brochure-box img {
    max-height: 589px;
}

.sliders-content1 {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 5%;
}

.PrevArrow {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
    width: 10px;
    min-height: 60px;
    border-width: 0px;
    border-color: transparent;
    background-color: #8CC63F;
    border-radius: 200px 0px 0px 200px;
    padding: 10px;
    line-height: 20px;
    color: #FFFFFF;
    text-align: center;
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
    cursor: pointer;
}

.PrevArrow::before {
    position: absolute;
    content: '';
    top: 42px;
    left: 9px;
    width: 15px;
    height: 2px;
    background-color: #fff;
    transform: rotate(35deg);
}

.PrevArrow::after {
    position: absolute;
    content: '';
    top: 34px;
    left: 9px;
    width: 15px;
    height: 2px;
    background-color: #fff;
    transform: rotate(-35deg);
}

.NextArrow {
    position: absolute;
    top: 50%;
    z-index: 100;
    transform: translateY(-50%);
    right: -31px;
    width: 10px;
    min-height: 60px;
    border-width: 0px;
    border-color: transparent;
    background-color: #8CC63F;
    border-radius: 0px 200px 200px 0px;
    padding: 10px;
    line-height: 20px;
    color: #FFFFFF;
    text-align: center;
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
    cursor: pointer;
}

.PrevArrow:hover,
.NextArrow:hover {
    box-shadow: 0px 0px 9px 4px #fff inset;
}

.NextArrow::before {
    position: absolute;
    content: '';
    top: 42px;
    left: 7px;
    width: 15px;
    height: 2px;
    background-color: #fff;
    transform: rotate(-35deg);
}

.NextArrow::after {
    position: absolute;
    content: '';
    top: 34px;
    left: 7px;
    width: 15px;
    height: 2px;
    background-color: #fff;
    transform: rotate(35deg);
}

.sliders-content-item {
    width: 45%;
    display: inline-block;
    vertical-align: top;
}

.sliders-content-item:not(:last-child) {
    margin-right: 10%;
}

.slider-box img {
    max-height: 450px;
    margin: 0 auto;
    border-radius: 30px;
}

.sliders-content {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 0;
}

.slider-box {
    background-color: #f5f5dc;
    border-radius: 40px;
    padding: 5px 33px 30px 33px;
    margin-bottom: 10%;
}

.slider-box p {
    min-height: 34px;
    background-color: transparent;
    line-height: 19px;
    color: #5A5A5A;
    font-size: 16px;
    text-align: center;
    font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
    font-weight: bold;
}


/*************************************services*****************************************/

.services-content {
    font-size: 0;
    margin-top: 5%
}

.services-content-item {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 47%;
}

.services-content-item img {
    filter: brightness(50%);
    max-height: 782px;
}

.services-content-item:hover img {
    filter: brightness(0%);
}

.services-content-item:not(:last-child) {
    margin-right: 6%
}

.services-box {
    width: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.services-box img {
    opacity: .4;
    filter: brightness(100%);
}

.services-content-item:hover .services-box img {
    filter: brightness(100%);
    opacity: 1;
}


/**************************************forHim******************************************/

.head {
    width: 30%;
    margin: 0 auto;
}

.forHim-content1 {
    font-size: 0;
}

.forHim-content1-img {
    width: 30%;
    display: inline-block;
    margin-right: 5%;
}

.forHim-content1-img img {
    border-radius: 20px;
}

.forHim-content1-text {
    display: inline-block;
    width: 65%;
    line-height: 29px;
    color: #5A5A5A;
    font-size: 24px;
    font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
    font-weight: bold;
}

.forHim-content1-price {
    width: 45%;
}

.forHim-content2 {
    font-size: 0;
    padding: 0px 3%;
}

.forHim-content2-item {
    display: inline-block;
    vertical-align: top;
    width: 47%;
}

.forHim-content2-item:first-child {
    margin-right: 6%;
}

.forHim-content2-box:not(:last-child) {
    margin-bottom: 5%;
}

.forHim-content2-img {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-right: 5%;
}

.forHim-content2-img img {
    border-radius: 15px;
}

.forHim-content2-text {
    display: inline-block;
    vertical-align: top;
    width: 65%;
    line-height: 19px;
    color: #5A5A5A;
    font-size: 16px;
    font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
    font-weight: bold;
}

.forHim-content2-text ul {
    list-style: none;
}


/*************************************contacts******************************************/

.contacts-content {
    font-size: 0;
    margin-top: 5%;
    margin-bottom: 5%;
}

.contacts-content-item {
    display: inline-block;
    vertical-align: top;
    width: 41%;
    color: #5A5A5A;
    font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
    font-weight: bold;
}

.contacts-content-item:first-child {
    margin-right: 17%;
    padding-left: 1%;
}

.contacts-content-item span {
    font-size: 18px;
    line-height: 22px;
}

.contacts-content-item p {
    font-size: 24px;
    line-height: 29px;
}

.content-item-info {
    text-align: center;
    margin-bottom: 2%;
}

.content-item-tell p,
.content-item-info p {
    margin: 0;
    text-align: center;
}


/***********************************reservation*****************************************/

.background-reservation {
    background-image: url(../img/background2.jpg);
}

.reservation-text-head {
    margin-top: 7%;
    margin-bottom: 10%;
}

.reservation-text-head p {
    width: 55%;
    margin: 0;
    line-height: 29px;
    color: #FFFFFF;
    font-size: 24px;
    font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
    font-weight: bold;
    padding-left: 3%;
}

.content-reservation {
    padding: 1px;
}

.reservation-text {
    width: 80%;
    font-size: 11px;
    margin-bottom: 11%;
    line-height: 13px;
    color: #FFFFFF;
    font-weight: normal;
    font-style: italic;
    padding-left: 3.5%;
}

.reservation-text span {
    font-weight: bold;
    text-decoration: underline;
}

.reservation-form ul {
    list-style: none;
}

.reservation-form li {
    display: inline-block;
    vertical-align: top;
}

.reservation-form li:not(:last-child) {
    margin-right: 5%
}

.reservation-form label {
    display: block;
    color: #fff;
    font-weight: bold;
    margin-bottom: 5px;
}

.btn-box {
    margin-top: 4%;
}

.form-submit-button {
    width: 17%;
    margin: 0 auto;
    border: none;
    outline: none;
    background-color: #f66e1b;
    color: #fff;
    padding: 9px 15px;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
    font-weight: bold;
    display: inherit;
    cursor: pointer;
}


/************************************news**********************************************/

.news img {
    display: block;
    width: 60%;
    margin: 0 auto;
    border: 5px solid #C1272D;
    border-radius: 25px;
}

.news2 {
    font-size: 0;
    border: 5px solid #C1272D;
    border-radius: 25px;
}

.news2-img-item {
    display: inline-block;
    vertical-align: top;
    width: 32%;
}

.news2-img-item:not(:last-child) {
    margin-right: 2%;
}

.news2-img-item:first-child img {
    border-top-left-radius: 17px;
}

.news2-img-item:last-child img {
    border-top-right-radius: 17px;
}

.news2-text h3 {
    font-size: 30px;
    text-align: center;
    line-height: 36px;
    color: #800000;
    font-family: roboto, sans-serif;
    font-weight: 700;
    font-style: italic;
}

.news2-text>span {
    position: relative;
    left: 36%;
    font-size: 26px;
    text-align: center;
    color: #C1272D;
    font-family: roboto, sans-serif;
    font-weight: 700;
    font-style: italic;
    line-height: 0px;
}

.news2-text i {
    font-size: 30px;
    line-height: 31px;
}

.news2-text p {
    padding: 0 1%;
    line-height: 24px;
    font-size: 20px;
    font-style: italic;
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
}

.news2-text p>span {
    color: #9E005D;
}

#u38412-4 {
    padding: 0 1%;
    min-height: 40px;
    line-height: 24px;
    font-size: 20px;
    font-family: roboto, sans-serif;
    font-weight: 300;
    font-style: italic;
    position: relative;
}

#u38412-4 span {
    float: right;
}

.news2-item {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    font-size: 22px;
    text-align: justify;
    line-height: 26px;
    font-family: roboto, sans-serif;
    font-weight: 300;
    font-style: italic;
}

#u38319-2 {
    font-size: 24px;
    text-align: center;
    line-height: 29px;
    color: #800000;
    font-family: roboto, sans-serif;
    font-weight: 700;
    font-style: italic;
}

.news2-item p {
    padding: 0 1%;
}

.news2-item img {
    border-top-right-radius: 17px;
}

#u38322-2 {
    font-size: 24px;
    text-align: center;
    line-height: 29px;
    color: #C1272D;
    font-family: roboto, sans-serif;
    font-weight: 700;
    font-style: italic;
}

#u38322-4 {
    font-size: 24px;
    text-align: center;
    line-height: 29px;
    color: #D4145A;
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: italic;
}

#u38322-9 {
    text-align: center;
    font-size: 35px;
    color: #FF0000;
    line-height: 42px;
}

#u38322-15 {
    font-size: 24px;
    text-align: center;
    line-height: 29px;
    font-family: roboto, sans-serif;
    font-weight: 700;
    font-style: italic;
}

#u38325_img {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../img/image006.png);
}

#u38338_img {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../img/image007.png);
}

.news3 {
    display: inline-block;
    vertical-align: top;
    width: 49%;
    border: 5px solid #C1272D;
    border-radius: 25px;
    box-sizing: border-box;
    text-align: center;
}

.news3 p {
    padding: 0 1%;
}

#u38191 {
    background-color: rgba(193, 39, 45, 0.18);
}

.news3 img {
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
}

#u38243 {
    font-size: 24px;
    line-height: 29px;
    color: #ED1C24;
    font-family: roboto, sans-serif;
    font-weight: 300;
}

#u38243-6 {
    font-size: 24px;
    line-height: 29px;
    color: #ED1C24;
    font-family: roboto, sans-serif;
    font-weight: 400;
}

#u38243-13 {
    font-size: 30px;
    line-height: 36px;
    color: #E21E79;
    font-family: roboto, sans-serif;
    font-weight: 400;
}

#u38194 {
    background-color: rgba(0, 104, 55, 0.18);
    border: 5px solid #006837;
}

#u38264-7 {
    line-height: 29px;
    font-size: 24px;
    color: #006837;
    text-align: center;
    font-style: italic;
}

#u38171-3 {
    font-size: 29px;
    text-align: center;
    line-height: 35px;
    color: #0071BC;
    font-family: roboto, sans-serif;
    font-weight: 400;
}

#u38171-5 {
    font-size: 30px;
    text-align: center;
    line-height: 36px;
    color: #39B54A;
    font-family: roboto, sans-serif;
    font-weight: 700;
}

#u38171-9 {
    font-size: 23px;
    line-height: 28px;
    color: #1B1464;
    font-family: roboto, sans-serif;
    font-weight: 300;
}

#u38149 {
    border: 5px solid #29ABE2;
    background-color: rgba(41, 171, 226, 0.18);
}

.news3-box {
    font-size: 0;
}

.news3-box-item {
    display: inline-block;
    vertical-align: top;
    width: 40%;
    padding: 0 5%;
}

.news3-box-item img {
    border-radius: 0;
}

.news3-box-item p {
    margin-top: 0;
}

#u38092-4 {
    font-size: 20px;
    text-align: left;
    line-height: 24px;
    color: #D4145A;
    font-family: roboto, sans-serif;
    font-weight: 300;
    font-style: italic;
}

#u38092 {
    font-family: roboto, sans-serif;
    font-weight: 900;
    font-style: italic;
}

#u38101-9 {
    font-size: 22px;
    text-align: center;
    line-height: 26px;
    color: #E21E79;
}

#u38191-1 {
    font-size: 45px;
    color: #e21e79;
}

#u37867-5 {
    margin: 0;
    font-size: 24px;
    line-height: 29px;
    font-family: roboto, sans-serif;
    font-weight: 300;
    color: #ED1C24;
}

#u37886-6 {
    color: #ED1C24;
    font-family: roboto, sans-serif;
    font-weight: 900;
    position: relative;
}

#u37886-2 {
    font-size: 24px;
    text-align: left;
    line-height: 29px;
}

#u37886-4 {
    font-size: 36px;
    text-align: right;
    line-height: 43px;
}

#u37849 {
    padding-bottom: 10%;
    border: 5px solid #C1272D;
    background-color: rgba(212, 20, 90, 0.18);
}

#u37849-11 {
    font-size: 30px;
    color: #ED1C24;
}

#u38191>img {
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
}

.news2-text2 {
    display: inline-block;
    vertical-align: top;
    width: 62%;
    padding-left: 4%;
}

#u26114-8 {
    line-height: 26px;
    color: #FF0000;
    font-size: 22px;
    text-align: center;
    font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
    font-weight: bold;
}

#u26115-2 {
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    color: #FF0000;
}

.news2-table {
    position: relative;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10%;
}

.news2-table>p {
    position: absolute;
    left: 70%;
}

.news2-column,
.news2-column2 {
    display: inline-block;
    vertical-align: top;
}

.news2-column {
    width: 69%;
}

.news2-column2 {
    width: 30%;
}

#u26115-17 {
    font-size: 18px;
    line-height: 22px;
    color: #FF0000;
}

#u26115-17>span {
    margin-left: 10%;
}

#u22139-2 {
    font-size: 22px;
    text-align: center;
    line-height: 26px;
    color: #FF0000;
    font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
    font-weight: bold;
}

#u22140-4 {
    line-height: 19px;
    font-size: 16px;
    font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
    font-weight: bold;
}

#u17772-4 {
    width: 290px;
    min-height: 35px;
    background-color: #8CC63F;
    border-radius: 6px;
    line-height: 27px;
    color: #FFFFFF;
    font-size: 18px;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
    position: relative;
    left: 500px;
    box-shadow: inset 3px 3px 4px rgba(255, 255, 255, 0.75), inset -3px -3px 4px rgba(0, 0, 0, 0.75);
}


/*************************************forHer****************************************/

.head-img {
    width: 70%;
    margin: 0 auto;
}

.breadcakes ul {
    font-size: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 5%;
}

.breadcakes li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 0 24px;
    padding-top: 7px;
    margin: 0;
}

.breadcakes li::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 7px;
    background-color: #9BC95A;
    top: 0;
    left: 0;
}

.breadcakes li.breadcakes-active::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 7px;
    background-color: #C1272D;
    top: 0;
    left: 0;
}

.breadcakes li.breadcakes-active:hover::before {
    background-color: #C1272D;
}

.breadcakes li:hover::before {
    background-color: #000;
}

.breadcakes li>a {
    line-height: 43px;
    font-size: 24px;
    text-align: center;
    font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

.breadcakes-box {
    font-size: 0;
    margin-bottom: 2%;
}

.breadcakes-box img {
    border-radius: 20px;
}

.breadcakes-box-item1,
.breadcakes-box-item2 {
    padding: 0 2%;
    display: inline-block;
    vertical-align: top;
}

.breadcakes-box-item1 {
    width: 70%;
}

.breadcakes-box-item2 {
    width: 22%;
}

.breadcakes-box-item1 p {
    line-height: 19px;
    color: #5A5A5A;
    font-size: 16px;
    font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
    font-weight: bold;
}

#u8864-4 {
    padding-left: 3%;
    margin-top: 5%;
    line-height: 29px;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
}

#u37757 {
    border-style: solid;
    border-width: 4px;
    border-color: #ED1C24;
    border-radius: 10px;
}

#u37763-4 {
    line-height: 29px;
    font-size: 24px;
    text-align: center;
    font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
    font-weight: bold;
}

.breadcakes-img-box {
    width: 60%;
    margin: 0 auto;
}

.breadcakes-text-box {
    font-size: 0;
    padding: 0 2%;
}

#u34578-2 {
    font-size: 23px;
    text-align: center;
    line-height: 28px;
}

#u34578-6 {
    line-height: 19px;
    color: #5A5A5A;
    font-size: 16px;
    font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
    font-weight: bold;
}

.breadcakes-text-item {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    text-align: center;
}

.breadcakes-slider {
    width: 35%;
    margin: 0 auto;
    padding-top: 3%;
}

.breadcakes-slider img {
    border-radius: 20px;
    margin-bottom: 10%;
}

#u31878-5 {
    font-size: 24px;
    line-height: 29px;
    font-weight: normal;
}

#u31878-6 {
    font-size: 24px;
    line-height: 29px;
    font-weight: bold;
}

.breadcakes-box2-item2,
.breadcakes-box2-item1 {
    display: inline-block;
    vertical-align: top;
}

.breadcakes-box2-item2 {
    width: 15%;
}

.breadcakes-box2-item1 {
    width: 79%;
    padding: 0 3%;
    line-height: 19px;
    color: #5A5A5A;
    font-size: 16px;
    font-weight: bold;
}

#u31878-7 {
    float: right;
}
